.labelText{
  font-weight: 700px;
  color: white;
}

.labelText-required::before {
  content: '*';
  color: #bf1650;
}

.errorInput {
  color: #bf1650;
}

.errorInput::before {
  display: inline;
  content: '⚠ ';
}

