@font-face {
  font-family: 'cubic';
  src: url('../assets/font/Cubic_11_1.013_R.woff'), url('../assets/font/Cubic_11_1.013_R.woff2'),
    url('../assets/font/Cubic_11_1.013_R.ttf');
}
@font-face {
  font-family: 'timer';
  src: url('../assets/font/CursedTimerUlil-Aznm.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#07192F];
  }
  h2 {
    @apply text-3xl;
  }
}

@layer utilities {
  .ab-center {
    @apply absolute top-2/4 left-2/4 -translate-y-1/2 -translate-x-1/2;
  }
  .f-center {
    @apply flex justify-center items-center;
  }
}

body {
  background-image: url('./../assets/img/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hexagon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

/* for overwrite slick css */

.slick-dots {
  bottom: unset !important;
}

.slick-dots li {
  width: 30px !important;
  height: 30px !important;
}

@media (width < 768px) {
  .slick-dots li {
    width: 24px !important;
    height: 24px !important;
  }
}

/* for overwrite antd pagination css */

.ant-pagination-item,
.ant-pagination-prev {
  border: unset !important;
  margin: 0 !important;
}

.ant-pagination-item-active {
  font-weight: unset !important;
  background-color: unset !important;
  border-color: unset !important;
}

.ant-pagination-item-active p {
  color: #fff !important;
}

/* 共用 module */
.submitInput {
  background: #ec5990;
  border-radius: 4px;
  padding: 10px 15px 10px 20px;
  margin-bottom: 10px;
  letter-spacing: 10px;
}

.submitInput:hover {
  background: #bf1650;
  cursor: pointer;
}

.submitInput:active {
  transition: 0.3s all;
  transform: translateY(3px);
  opacity: 0.8;
}
