@font-face {
  font-family: 'cubic';
  src: url('../assets/font/Cubic_11_1.013_R.woff'), url('../assets/font/Cubic_11_1.013_R.woff2'),
    url('../assets/font/Cubic_11_1.013_R.ttf');
  /* 當頁面自定義字體還沒下載完成時，先用系統預設字體，等下載好後再換成目標字體 for SEO */
  font-display: swap;
}
@font-face {
  font-family: 'timer';
  src: url('../assets/font/CursedTimerUlil-Aznm.ttf');
  /* 當頁面自定義字體還沒下載完成時，先用系統預設字體，等下載好後再換成目標字體 for SEO */
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#07192F];
  }
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
}

@layer components {
  .btn {
    @apply mb-3 rounded bg-[#ec5990] pl-5 pr-4 tracking-[10px] !important;
  }
  .btn:hover {
    @apply cursor-pointer text-black !important;
  }
  .btn:active {
    @apply translate-y-[3px]	opacity-80 transition-all !important;
  }
}

@layer utilities {
  .ab-center {
    @apply absolute left-2/4 top-2/4 -translate-x-1/2 -translate-y-1/2;
  }
  .f-center {
    @apply flex items-center justify-center;
  }
  /* fill miidle section by minusing Header and Footer height */
  .mid-fill {
    @apply min-h-[calc(100vh_-_370px)];
  }

  .breadcrumb {
    @apply text-xs text-white underline underline-offset-4 hover:text-primary-yellow md:text-sm !important;
  }
}

body {
  background-image: url('./../assets/img/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100vw;
  overflow-x: hidden;
}

.hexagon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.title-effect {
  background: linear-gradient(180deg, transparent 40%, #ffa500 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* for overwrite slick css */

.slick-dots {
  bottom: unset !important;
}

.slick-dots li {
  width: 30px !important;
  height: 30px !important;
}

@media (width < 768px) {
  .slick-dots li {
    width: 24px !important;
    height: 24px !important;
  }
}

/* for overwrite antd pagination css */

.ant-pagination-item,
.ant-pagination-prev {
  border: unset !important;
  margin: 0 !important;
}

.ant-pagination-item-active {
  font-weight: unset !important;
  background-color: unset !important;
  border-color: unset !important;
}

.ant-pagination-item-active p {
  color: #fff !important;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: black;
  border-color: white;
}

.ant-select .ant-select-arrow {
  top: 35% !important;
}

.ant-spin .ant-spin-dot-item {
  background-color: white !important;
}

.ant-input-number {
  width: 100% !important;
}

/* emoji list */
.emoji-list {
  list-style: none;
  padding-left: 0;
}

.emoji-list li::before {
  content: '⚠️';
  margin-right: 0.5em;
}
