@font-face {
  font-family: "cubic";
  src: url("../assets/font/Cubic_11_1.013_R.woff"), url("../assets/font/Cubic_11_1.013_R.woff2"), url("../assets/font/Cubic_11_1.013_R.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#07192F];
  }
  h2 {
    @apply text-3xl;
  }
}

@layer utilities {
  .ab-center {
    @apply absolute top-2/4 left-2/4 -translate-y-1/2 -translate-x-1/2;
  }
  .f-center {
    @apply flex justify-center items-center;
  }
}

body {
  background-image: url('./../assets/img/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.hexagon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

/* for overwrite slick css */

.slick-dots {
  bottom: unset !important;
}

.slick-dots li{
  width: 30px !important;
  height: 30px !important;
}